body, input, button {
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
}
input {
  width: 100px;
  padding: 10px;
  border-radius: 10px;
}
button {
  background: gray;
  border-radius: 10px;
  padding: 10px 20px;
}
